In [1]:
import pandas as pd

In [3]:
filepath="DataFiles/car_sales.csv"
df=pd.read_csv(filepath)
df.tail()

   Manufacturer    Model  Year   Sales  Revenue
20         Ford   Escape  2023  2100.0  75000.0
21    Chevrolet  Equinox  2021  1700.0  60000.0
22    Chevrolet    Tahoe  2022  2200.0  80000.0
23       Nissan    Rogue  2023  2300.0  85000.0
24       Nissan   Murano  2021  1800.0  65000.0